<html>
    <body>
        <a href="/factories">Фабрики</a>
        <a href="/sites">Участки</a>
        <table border="3">
            <caption>Оборудование</caption>
            <tr>
                <th>Название</th>
            </tr>
            {% for item in items %}
               <tr><td>{{ item.name }}</td></tr>
            {% endfor %}
        </table>
        <form method="POST" action="create">
            Новое оборудование: <input type="text" name="equipment_name", value="EquipmentN">
            Участок оборудования: <input type="text" name="site_name", value="SiteN">
            <input type="submit" value="Submit">
        </form>
        <form method="POST" action="delete">
            Удалить оборудование: <input type="text" name="equipment_name", value="EquipmentN">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>