<html>
    <body>
        <a href="/factories">Фабрики</a>
        <a href="/equipment">Оборудование</a>
        <table border="3">
            <caption>Участки</caption>
            <tr>
                <th>Название</th>
            </tr>
            {% for item in items %}
               <tr><td>{{ item.name }}</td></tr>
            {% endfor %}
        </table>
        <form method="POST" action="create">
            Новый участок: <input type="text" name="site_name", value="SiteN">
            Фабрика участка: <input type="text" name="factory_name", value="FactoryN">
            <input type="submit" value="Submit">
        </form>
        <form method="POST" action="delete">
            Удалить участок: <input type="text" name="site_name", value="SiteN">
            <input type="submit" value="Submit">
        </form>
        {% include 'components/flash.html' %}
    </body>
</html>